version: '3.9'

services:
  db:
    platform: linux/x86_64
    image: mysql:latest
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_ROOTUSER=root
      - MYSQL_DATABASE=test_db
      - MYSQL_USER=elias
      - MYSQL_PASSWORD=secret
    ports:
      - 3306:3306

  phpmyadmin:
    image: phpmyadmin:latest
    restart: always
    ports:
      - 8080:80

  web:
    build: .
    ports:
      - '3000:3000'
    volumes:
      - .:/app
    depends_on:
      - db
